<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <div class="user-header">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        <% if current_user.friends?(@user) %>
          <span class="label label-info">Friends</span>
        <% end %>
      </div>
    </section>
  </aside>
</div>