- if options[:accept]
  %button.btn.btn-lg.btn-success Accept
- if options[:reject]
  %button.btn.btn-lg.btn-danger Reject
- if options[:cancel]
  %button.btn.btn-lg.btn-warning Cancel
- if options[:unfriend]
  %button.btn.btn-lg.btn-danger Unfriend
- if options[:requestable]
  %button.btn.btn-lg.btn-primary Send request